<div class="d-flex flex-row bd-highlight mb-3">

<div class="form-froup row" style="width: 60%;">
    
    <label class="col-sm-2 col-form-label">Pico y placa</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="DiaSemana"
        placeholder="Enter Picoplaca Nombre">
    </div>

    <label class="col-sm-2 col-form-label">Ciudad</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="Ciudad">
            <option>--select--</option>
            <option *ngFor="let depName of CiudadList">
                {{depName.CiudadNombre}}
            </option>
        </select>
    </div>


    <label class="col-sm-2 col-form-label">Fecha de Entrada</label>
    <div class="col-sm-10">
        <input type="date" [(ngModel)]="FechaEntrada">
    </div>


</div>
<div class="ml-3 bd-highlight" style="width: 40%;">
<img [src]=PhotoFilePath height="250px;" width="200px;">
<input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
</div>
</div>

<button (click)= "addPicoplaca()" *ngIf="emp.DigitoplacaId==0" class="btn btn-primary">
    Add
</button>

<button (click)="updatePicoplaca()" *ngIf="emp.DigitoplacaId!=0" class="btn btn-primary">
    Update
</button>